<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/02d95495-5cb9-4c60-acdd-07b696db2508/resourceGroups/RG-JIR-Dev/providers/Microsoft.ContainerRegistry/registries/rejirfinance</ResourceId>
    <ResourceName>rejirfinance</ResourceName>
    <ResourceGroup>RG-JIR-Dev</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://rejirfinance.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0fe2e068-d4f2-4359-acd8-1becf0c850d8</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>