bin/
obj/
out/
publish/
*.user
*.suo
*.DotSettings.user
.vs/
.vscode/
*.swp
*.*~
node_modules/
TestResults/
*.log
*.db
*.db-shm
*.db-wal
appsettings.Development.json
appsettings.Local.json
.git/
.gitignore
README.md
docker-compose*.yml
Dockerfile*
